/*================================================================
    HEADER TITLE STYLES
================================================================*/
/* General */
.logo, .title {
  font-size: 4vh;
  padding-top: 2vh;
}

.title p {
  text-align: center;
}

/* Buttons */
.button{
  display: block;
  background-color: #FFF;
  width: 8rem;
  height: 3rem;
  color: #337AB7;
  font-weight: bold;
  letter-spacing: 0.15rem;
  text-decoration: none;
  text-align: center;
  padding: 0.3rem 0;
  margin: 1.5rem 0 0 5rem;
  border-radius: 9999px;
  border: 2px solid #FFF;
}

.button:hover {
  background-color: #337AB7;
  color: #FFF;
  text-decoration: none;
}

.button:active {
  background-color: #000;
}

@media screen and (max-width: 768px) {
  .button {
    margin: 0 0 1rem 19rem;
  }
  
  .title {
    padding-top: 0;
  }
}

@media screen and (max-width: 500px) {
  .button {
    margin: 0 0 2rem 13rem;
  }
}

/*================================================================
    NAV STYLES
================================================================*/
nav {
  border-bottom: 2px solid #337AB7;
  background-color: #b2cde4;
}

nav a {
  display: block;
  color: #337AB7;
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: 0.15rem;
  margin-top: 1rem;
}

nav a:hover {
  border-bottom: 2px solid #337AB7;
  padding-bottom: 0.1rem;
  text-decoration: none;
}

nav a:active {
  color: #000;
}

@media screen and (max-width: 500px) {
  nav li {
    display: block;
    width: 100%;
    text-align: center;
    border-bottom: 2px solid #337AB7;
    margin-bottom: 1rem;
  }
}

/*================================================================
    PARAGRAPH STYLES
================================================================*/
p {
  text-align: justify;
}